{% extends "layout.html" %}

{% block title %}Add New Movie Review - My Movie Library{% endblock %}

{% block content %}
        <form class="form" action="{{ url_for('add-review') }}" method="POST" enctype="multipart/form-data">
            <div class="container-form">
                <div class="field">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name">
                </div>

                <div class="field">
                    <label for="ranking">Ranking:</label>
                    <select name="ranking" id="ranking">
                        <option value="">Choose a rating</option>
                        <option value="1">★☆☆☆☆ - 1 Star</option>
                        <option value="2">★★☆☆☆ - 2 Stars</option>
                        <option value="3">★★★☆☆ - 3 Stars</option>
                        <option value="4">★★★★☆ - 4 Stars</option>
                        <option value="5">★★★★★ - 5 Stars</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label" for="poster">Upload Poster</label>

                    <label class="custom-file-label" for="poster">Choose file...</label>

                    <input type="file" id="poster" name="poster" accept="image/png, image/jpeg" required hidden>
                </div>

                <div class="field">
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date">
                </div>

                <div class="field">
                    <label for="review-text" class="label">Review</label>
                    <div class="control">
                        <textarea id="review-text" name="review-text" class="textarea" rows="5" placeholder="Write your thoughts here..."></textarea>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-link">Add</button>
                    </div>
                </div>
            </div>
        </form>
    {% endblock %}